# NETFLUX Movie Recommendation Engine

In [1]:
import pandas as pd
import numpy as np
import os
import zipfile as ZipFile
import gzip
from functools import reduce 
# set pandas dataframe global options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Ingesting Data

In [2]:
def read_file():
    """ Checks if the given directory exists. Creates the directory if it does not exist.

    Reads the gzipped files
    Raises:
        Exception: Any error message
    """
    directory = r"C:\Work\Last-Mile-Project_TGB\Files"
    try:
        if not os.path.exists(directory):
            os.makedirs(directory)
    except Exception as e:
        print('ensure_directory_exist: ' + re)
    for filename in os.listdir(directory):
        file_extension = filename.split('.')[-1]
        if file_extension == 'gz':
            k = gzip.open(os.path.join(directory, filename), 'r')
            with k as data:
                i = 0
                for line in data:
                    print(line)
                    i +=1
                    if i==10:
                        print(filename + 'read successfully')
                        break
                    
        else:
            continue

In [3]:
read_file()

b'titleId\tordering\ttitle\tregion\tlanguage\ttypes\tattributes\tisOriginalTitle\n'
b'tt0000001\t1\t\xd0\x9a\xd0\xb0\xd1\x80\xd0\xbc\xd0\xb5\xd0\xbd\xd1\x81\xd1\x96\xd1\x82\xd0\xb0\tUA\t\\N\timdbDisplay\t\\N\t0\n'
b'tt0000001\t2\tCarmencita\tDE\t\\N\t\\N\tliteral title\t0\n'
b'tt0000001\t3\tCarmencita - spanyol t\xc3\xa1nc\tHU\t\\N\timdbDisplay\t\\N\t0\n'
b'tt0000001\t4\t\xce\x9a\xce\xb1\xcf\x81\xce\xbc\xce\xb5\xce\xbd\xcf\x83\xce\xaf\xcf\x84\xce\xb1\tGR\t\\N\timdbDisplay\t\\N\t0\n'
b'tt0000001\t5\t\xd0\x9a\xd0\xb0\xd1\x80\xd0\xbc\xd0\xb5\xd0\xbd\xd1\x81\xd0\xb8\xd1\x82\xd0\xb0\tRU\t\\N\timdbDisplay\t\\N\t0\n'
b'tt0000001\t6\tCarmencita\tUS\t\\N\timdbDisplay\t\\N\t0\n'
b'tt0000001\t7\tCarmencita\t\\N\t\\N\toriginal\t\\N\t1\n'
b'tt0000001\t8\t\xe3\x82\xab\xe3\x83\xab\xe3\x83\xa1\xe3\x83\xb3\xe3\x83\x81\xe3\x83\xbc\xe3\x82\xbf\tJP\tja\timdbDisplay\t\\N\t0\n'
b'tt0000002\t1\tLe clown et ses chiens\t\\N\t\\N\toriginal\t\\N\t1\n'
title.akas.tsv.gzread successfully
b'tconst\ttitleType\tprimaryTitle\toriginalTitle\tisAdult\tstartYear\tendYear\truntimeMinutes\tgenres\n'
b'tt0000001\tshort\tCarmencita\tCarmencita\t0\t1894\t\\N\t1\tDocumentary,Short\n'
b'tt0000002\tshort\tLe clown et ses chiens\tLe clown et ses chiens\t0\t1892\t\\N\t5\tAnimation,Short\n'
b'tt0000003\tshort\tPauvre Pierrot\tPauvre Pierrot\t0\t1892\t\\N\t4\tAnimation,Comedy,Romance\n'
b'tt0000004\tshort\tUn bon bock\tUn bon bock\t0\t1892\t\\N\t12\tAnimation,Short\n'
b'tt0000005\tshort\tBlacksmith Scene\tBlacksmith Scene\t0\t1893\t\\N\t1\tComedy,Short\n'
b'tt0000006\tshort\tChinese Opium Den\tChinese Opium Den\t0\t1894\t\\N\t1\tShort\n'
b'tt0000007\tshort\tCorbett and Courtney Before the Kinetograph\tCorbett and Courtney Before the Kinetograph\t0\t1894\t\\N\t1\tShort,Sport\n'
b'tt0000008\tshort\tEdison Kinetoscopic Record of a Sneeze\tEdison Kinetoscopic Record of a Sneeze\t0\t1894\t\\N\t1\tDocumentary,Short\n'
b'tt0000009\tshort\tMiss Jerry\tMiss Jerry\t0\t1894\t\\N\t40\tRomance,Short\n'
title.basics.tsv.gzread successfully
b'tconst\tdirectors\twriters\n'
b'tt0000001\tnm0005690\t\\N\n'
b'tt0000002\tnm0721526\t\\N\n'
b'tt0000003\tnm0721526\t\\N\n'
b'tt0000004\tnm0721526\t\\N\n'
b'tt0000005\tnm0005690\t\\N\n'
b'tt0000006\tnm0005690\t\\N\n'
b'tt0000007\tnm0005690,nm0374658\t\\N\n'
b'tt0000008\tnm0005690\t\\N\n'
b'tt0000009\tnm0085156\tnm0085156\n'
title.crew.tsv.gzread successfully
b'tconst\taverageRating\tnumVotes\n'
b'tt0000001\t5.7\t1828\n'
b'tt0000002\t6.0\t233\n'
b'tt0000003\t6.5\t1581\n'
b'tt0000004\t6.1\t151\n'
b'tt0000005\t6.2\t2406\n'
b'tt0000006\t5.2\t157\n'
b'tt0000007\t5.4\t751\n'
b'tt0000008\t5.5\t1979\n'
b'tt0000009\t5.9\t190\n'
title.ratings.tsv.gzread successfully

In [4]:
def return_dataframe(filename, directory):
    """ Reads a file into memory and returns a dataframe.

    Args:
        filename (str): name of file to read.
        path (str, optional): path to the file to read. Defaults to None.

    Raises:
        ValueError: File type is not supported.
        ValueError: Invalid file name
        Exception: Any other error message

    Returns:
        [DataFrame]: The file read into memory as a DataFrame.
    """
    directory = r"C:\Work\Last-Mile-Project_TGB\Files"
    df = pd.DataFrame()
    if len(filename) > 1:
        try:
            if not directory:
                directory = 'Input'

            file_type = filename.split('.')[2]
            long_file_name = os.path.join(directory, filename) 
            if file_type == 'tsv':
                df = pd.read_csv(long_file_name, sep='\t', low_memory=False)
            elif file_type in ['xls', 'xlsx']:
                df = pd.read_excel(long_file_name)
            else:
                raise ValueError(f"{file_type} File type is not supported")
        except Exception as e:
            print('read_file: ' + repr(e))

    else:
        raise ValueError("Invalid File Name")

    return df

In [5]:
Ratings = return_dataframe(filename= 'title.ratings.tsv.gz', directory= "C:\Work\Last-Mile-Project_TGB\Files")

In [6]:
Ratings.shape

(1194630, 3)

In [7]:
Ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1828
1  tt0000002            6.0       233
2  tt0000003            6.5      1581
3  tt0000004            6.1       151
4  tt0000005            6.2      2406

In [8]:
Crew = return_dataframe(filename= 'title.crew.tsv.gz', directory= "C:\Work\Last-Mile-Project_TGB\Files")

In [9]:
Crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [10]:
Basics = return_dataframe(filename= 'title.basics.tsv.gz', directory= "C:\Work\Last-Mile-Project_TGB\Files")

In [11]:
Basics.shape

(8353147, 9)

In [12]:
Basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [13]:
#Akas = return_dataframe(filename= 'title.akas.tsv.gz', directory= "C:\Work\Last-Mile-Project_TGB\Files" )

In [14]:
#Akas.head()

In [15]:
#Akas.shape#rename(columns= {'titleId':'tconst'})

In [16]:
Crew.shape

(8353147, 3)

In [17]:
#Akas.head()

In [18]:
#Akas.columns = ['tconst','ordering','title','region','language','types','attributes','isOriginalTitle']

In [19]:
#Akas.head()

In [20]:
#Akas.shape

In [21]:
 #Couldn't add the Akas dataframe due to the filesize which was too large for my machine to handle

In [22]:
## throw different dataframes into a list and merge based on the "tconst" column
data_frames = [Ratings, Crew, Basics]

IMDB = reduce(lambda left,right: pd.merge(left,right, on= ['tconst'], how='outer'), data_frames)

In [23]:
IMDB_data = IMDB.sample(n=10000)

In [24]:
IMDB_data.tail()

,tconst,averageRating,numVotes,directors,writers,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
4777064,tt1675485,NaN,NaN,nm0899452,nm1932936,tvEpisode,Episode dated 7 February 1976,Episode dated 7 February 1976,0,1976,\N,\N,Music
6761150,tt6159264,NaN,NaN,"nm1524846,nm0735305",\N,short,Riportfilm a repülönapról,Riportfilm a repülönapról,0,1951,\N,\N,"Documentary,Short"
5717404,tt3439336,NaN,NaN,nm1887291,\N,tvEpisode,Pilot,Pilot,0,2011,\N,44,Reality-TV
2303189,tt11122894,NaN,NaN,nm1094767,\N,video,Midnight Oil: In the Valley,Midnight Oil: In the Valley,0,1993,\N,5,"Music,Short"
5974041,tt4121140,NaN,NaN,\N,\N,tvEpisode,Episode #1.48,Episode #1.48,0,1962,\N,\N,"Comedy,Music,Talk-Show"

In [25]:
IMDB_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 449277 to 5974041
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          10000 non-null  object
 1   averageRating   1404 non-null   float64
 2   numVotes        1404 non-null   float64
 3   directors       10000 non-null  object
 4   writers         10000 non-null  object
 5   titleType       10000 non-null  object
 6   primaryTitle    10000 non-null  object
 7   originalTitle   10000 non-null  object
 8   isAdult         10000 non-null  object
 9   startYear       10000 non-null  object
 10  endYear         10000 non-null  object
 11  runtimeMinutes  10000 non-null  object
 12  genres          10000 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

In [51]:
#Convert tconst column which is the primary column into an int
IMDB_data['tconst'] = pd.to_numeric(IMDB_data['tconst'])

ValueError: Unable to parse string "tt10115562" at position 0

In [26]:
IMDB_data.describe()

       averageRating      numVotes
count    1404.000000  1.404000e+03
mean        6.928490  2.289644e+03
std         1.425568  5.143868e+04
min         1.000000  5.000000e+00
25%         6.200000  1.000000e+01
50%         7.100000  2.300000e+01
75%         7.900000  9.100000e+01
max        10.000000  1.882912e+06

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
## Helper fuctions to be used when needed

def get_title_from_index(tconst):
    return IMDB_data[IMDB_data.tconst == tconst]["originalTitle"].values[0]

def get_index_from_title(originalTitle):
    return IMDB_data[IMDB_data.originalTitle == originalTitle]["tconst"].values[0]

In [29]:
get_title_from_index

In [30]:
get_index_from_title

In [31]:
##select features

features = ['directors','writers','titleType','originalTitle','genres']

for feature in features:
    IMDB_data[feature] = IMDB_data[feature].astype(str)
    IMDB_data[feature] = IMDB_data[feature].fillna('')

In [32]:
IMDB_data[feature].tail()

4777064                     Music
6761150         Documentary,Short
5717404                Reality-TV
2303189               Music,Short
5974041    Comedy,Music,Talk-Show
Name: genres, dtype: object

In [33]:
IMDB_data[feature].shape

(10000,)

In [34]:
##create a column in dataframe which combines all selected features

def combine_features(row):
    return row['directors'] +" "+row['writers']+" "+row['titleType']+" "+row['originalTitle']+" "+row['genres']
IMDB_data["combined_features"] = IMDB_data.apply(combine_features,axis=1)

print(IMDB_data["combined_features"].head())

449277          nm0393394 nm0393394 movie Chambre 212 Comedy
8104768      \N \N tvEpisode Twisted up like a pretzel Adult
2215365         nm0022750 \N tvEpisode Episode #3.178 Comedy
1842985    nm0960965,nm1966600,nm8932411,nm7182028,nm8408...
5966797    \N nm0882973 tvEpisode Episode #4.25 Comedy,Ro...
Name: combined_features, dtype: object

In [41]:
movie_user_likes = "Midnight Oil: In the Valley"

#create count matrix from this new combined column
cv = CountVectorizer()

count_matrix = cv.fit_transform(IMDB_data["combined_features"])

#Compute the Cosine Similarity based on the count_matrix
cosine_sim = cosine_similarity(count_matrix)

In [42]:
###Analysing the reason for the empty list in sorted_similar_movies
i= 0
for l in count_matrix:
    i=+1
    if i>5:
        break
print(l)

  (0, 701)	1
  (0, 2787)	1
  (0, 3838)	1
  (0, 7034)	1
  (0, 22114)	1
  (0, 22830)	1
  (0, 23320)	1

In [43]:
###Analysing the reason for the empty list in sorted_similar_movies
j=0
for count in cosine_sim:
    j=+1
    if j>5:
        break
print(count)

[0.13363062 0.15430335 0.50709255 ... 0.16903085 0.12598816 1.        ]

In [45]:
### use helper fuctions
movie_index = get_index_from_title(movie_user_likes)

In [47]:
#movie_index
j=0
for count in movie_index:
    j=+1
    if j>5:
        break
print(count)

4

In [48]:
print(type(movie_index))

<class 'str'>

In [49]:
movie_index.astype(int)

AttributeError: 'str' object has no attribute 'astype'

In [46]:
similar_movies = list(enumerate(cosine_sim[movie_index]))

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
###Analysing the reason for the empty list in sorted_similar_movies
#j=0
#for movies in similar_movies:
#    j=+1
#    if j>5:
#        break
print(similar_movies)

In [ ]:
#Get a list of similar movies in descensing order of similarity score
sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)

##Print titles of first 50 movies
i=0
for movie in sorted_similar_movies:
    print(get_title_from_index(movie[0]))
    i=+1
    if i>25:
        break

In [ ]:
sorted_similar_movies