# NETFLUX Movie Recommendation Engine

In [1]:
import pandas as pd
import os
import zipfile as ZipFile
import gzip
from functools import reduce 
# set pandas dataframe global options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Ingesting Data

In [2]:
def read_file():
    """ Checks if the given directory exists. Creates the directory if it does not exist.

    Reads the gzipped files
    Raises:
        Exception: Any error message
    """
    directory = r"C:\Work\Last-Mile-Project_TGB\Files"
    try:
        if not os.path.exists(directory):
            os.makedirs(directory)
    except Exception as e:
        print('ensure_directory_exist: ' + re)
    for filename in os.listdir(directory):
        file_extension = filename.split('.')[-1]
        if file_extension == 'gz':
            k = gzip.open(os.path.join(directory, filename), 'r')
            with k as data:
                i = 0
                for line in data:
                    print(line)
                    i +=1
                    if i==10:
                        print(filename + 'read successfully')
                        break
                    
        else:
            continue

In [3]:
read_file()

b'titleId\tordering\ttitle\tregion\tlanguage\ttypes\tattributes\tisOriginalTitle\n'
b'tt0000001\t1\t\xd0\x9a\xd0\xb0\xd1\x80\xd0\xbc\xd0\xb5\xd0\xbd\xd1\x81\xd1\x96\xd1\x82\xd0\xb0\tUA\t\\N\timdbDisplay\t\\N\t0\n'
b'tt0000001\t2\tCarmencita\tDE\t\\N\t\\N\tliteral title\t0\n'
b'tt0000001\t3\tCarmencita - spanyol t\xc3\xa1nc\tHU\t\\N\timdbDisplay\t\\N\t0\n'
b'tt0000001\t4\t\xce\x9a\xce\xb1\xcf\x81\xce\xbc\xce\xb5\xce\xbd\xcf\x83\xce\xaf\xcf\x84\xce\xb1\tGR\t\\N\timdbDisplay\t\\N\t0\n'
b'tt0000001\t5\t\xd0\x9a\xd0\xb0\xd1\x80\xd0\xbc\xd0\xb5\xd0\xbd\xd1\x81\xd0\xb8\xd1\x82\xd0\xb0\tRU\t\\N\timdbDisplay\t\\N\t0\n'
b'tt0000001\t6\tCarmencita\tUS\t\\N\timdbDisplay\t\\N\t0\n'
b'tt0000001\t7\tCarmencita\t\\N\t\\N\toriginal\t\\N\t1\n'
b'tt0000001\t8\t\xe3\x82\xab\xe3\x83\xab\xe3\x83\xa1\xe3\x83\xb3\xe3\x83\x81\xe3\x83\xbc\xe3\x82\xbf\tJP\tja\timdbDisplay\t\\N\t0\n'
b'tt0000002\t1\tLe clown et ses chiens\t\\N\t\\N\toriginal\t\\N\t1\n'
title.akas.tsv.gzread successfully
b'tconst\ttitleType\tprimaryTitle\toriginalTitle\tisAdult\tstartYear\tendYear\truntimeMinutes\tgenres\n'
b'tt0000001\tshort\tCarmencita\tCarmencita\t0\t1894\t\\N\t1\tDocumentary,Short\n'
b'tt0000002\tshort\tLe clown et ses chiens\tLe clown et ses chiens\t0\t1892\t\\N\t5\tAnimation,Short\n'
b'tt0000003\tshort\tPauvre Pierrot\tPauvre Pierrot\t0\t1892\t\\N\t4\tAnimation,Comedy,Romance\n'
b'tt0000004\tshort\tUn bon bock\tUn bon bock\t0\t1892\t\\N\t12\tAnimation,Short\n'
b'tt0000005\tshort\tBlacksmith Scene\tBlacksmith Scene\t0\t1893\t\\N\t1\tComedy,Short\n'
b'tt0000006\tshort\tChinese Opium Den\tChinese Opium Den\t0\t1894\t\\N\t1\tShort\n'
b'tt0000007\tshort\tCorbett and Courtney Before the Kinetograph\tCorbett and Courtney Before the Kinetograph\t0\t1894\t\\N\t1\tShort,Sport\n'
b'tt0000008\tshort\tEdison Kinetoscopic Record of a Sneeze\tEdison Kinetoscopic Record of a Sneeze\t0\t1894\t\\N\t1\tDocumentary,Short\n'
b'tt0000009\tshort\tMiss Jerry\tMiss Jerry\t0\t1894\t\\N\t40\tRomance,Short\n'
title.basics.tsv.gzread successfully
b'tconst\tdirectors\twriters\n'
b'tt0000001\tnm0005690\t\\N\n'
b'tt0000002\tnm0721526\t\\N\n'
b'tt0000003\tnm0721526\t\\N\n'
b'tt0000004\tnm0721526\t\\N\n'
b'tt0000005\tnm0005690\t\\N\n'
b'tt0000006\tnm0005690\t\\N\n'
b'tt0000007\tnm0005690,nm0374658\t\\N\n'
b'tt0000008\tnm0005690\t\\N\n'
b'tt0000009\tnm0085156\tnm0085156\n'
title.crew.tsv.gzread successfully
b'tconst\taverageRating\tnumVotes\n'
b'tt0000001\t5.7\t1828\n'
b'tt0000002\t6.0\t233\n'
b'tt0000003\t6.5\t1581\n'
b'tt0000004\t6.1\t151\n'
b'tt0000005\t6.2\t2406\n'
b'tt0000006\t5.2\t157\n'
b'tt0000007\t5.4\t751\n'
b'tt0000008\t5.5\t1979\n'
b'tt0000009\t5.9\t190\n'
title.ratings.tsv.gzread successfully

In [4]:
def return_dataframe(filename, directory):
    """ Reads a file into memory and returns a dataframe.

    Args:
        filename (str): name of file to read.
        path (str, optional): path to the file to read. Defaults to None.

    Raises:
        ValueError: File type is not supported.
        ValueError: Invalid file name
        Exception: Any other error message

    Returns:
        [DataFrame]: The file read into memory as a DataFrame.
    """
    directory = r"C:\Work\Last-Mile-Project_TGB\Files"
    df = pd.DataFrame()
    if len(filename) > 1:
        try:
            if not directory:
                directory = 'Input'

            file_type = filename.split('.')[2]
            long_file_name = os.path.join(directory, filename) 
            if file_type == 'tsv':
                df = pd.read_csv(long_file_name, sep='\t', low_memory=False)
            elif file_type in ['xls', 'xlsx']:
                df = pd.read_excel(long_file_name)
            else:
                raise ValueError(f"{file_type} File type is not supported")
        except Exception as e:
            print('read_file: ' + repr(e))

    else:
        raise ValueError("Invalid File Name")

    return df

In [5]:
Ratings = return_dataframe(filename= 'title.ratings.tsv.gz', directory= "C:\Work\Last-Mile-Project_TGB\Files")

In [6]:
Ratings.shape

(1194630, 3)

In [7]:
Ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1828
1  tt0000002            6.0       233
2  tt0000003            6.5      1581
3  tt0000004            6.1       151
4  tt0000005            6.2      2406

In [8]:
Crew = return_dataframe(filename= 'title.crew.tsv.gz', directory= "C:\Work\Last-Mile-Project_TGB\Files")

In [9]:
Crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [10]:
Basics = return_dataframe(filename= 'title.basics.tsv.gz', directory= "C:\Work\Last-Mile-Project_TGB\Files")

In [11]:
Basics.shape

(8353147, 9)

In [12]:
Basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [13]:
Akas = return_dataframe(filename= 'title.akas.tsv.gz', directory= "C:\Work\Last-Mile-Project_TGB\Files" )

In [14]:
Akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [15]:
Akas.shape#rename(columns= {'titleId':'tconst'})

(29436752, 8)

In [16]:
Crew.shape

(8353147, 3)

In [18]:
Akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [19]:
Akas.columns = ['tconst','ordering','title','region','language','types','attributes','isOriginalTitle']

In [20]:
Akas.head()

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [21]:
Akas.shape

(29436752, 8)

In [22]:
 #Couldn't add the Akas dataframe due to the filesize which was too large for my machine to handle

In [23]:
## throw different datafranes into a list
data_frames = [Ratings, Crew, Basics]

IMDB_data = reduce(lambda left,right: pd.merge(left,right, on= ['tconst'], how='outer'), data_frames)

In [25]:
IMDB_data.tail()

,tconst,averageRating,numVotes,directors,writers,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8353142,tt9916848,NaN,NaN,"nm5519454,nm5519375","nm6182221,nm1628284,nm2921377",tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8353143,tt9916850,NaN,NaN,"nm5519454,nm5519375","nm6182221,nm1628284,nm2921377",tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8353144,tt9916852,NaN,NaN,"nm5519375,nm5519454","nm6182221,nm1628284,nm2921377",tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8353145,tt9916856,NaN,NaN,nm10538645,nm6951431,short,The Wind,The Wind,0,2015,\N,27,Short
8353146,tt9916880,NaN,NaN,nm0996406,"nm1482639,nm2586970",tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"